KonyvtarKliens/KonyvtarKliens/Connected Services/SR/KonyvtarService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KonyvtarService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KonyvtarService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKonyv">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Konyv" nillable="true" type="tns:Konyv" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKonyv" nillable="true" type="tns:ArrayOfKonyv" />
  <xs:complexType name="Konyv">
    <xs:sequence>
      <xs:element minOccurs="0" name="StringFormatum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="k_Cim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="k_Id" type="xs:int" />
      <xs:element minOccurs="0" name="k_Mufaj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="k_Oldalszam" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Konyv" nillable="true" type="tns:Konyv" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fnev" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jogkor" type="xs:int" />
      <xs:element minOccurs="0" name="Passw" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="u_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="KolcsonzottKonyv">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cim" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kolcsonzo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KolcsonzottFormatum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mufaj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Oldalszam" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KolcsonzottKonyv" nillable="true" type="tns:KolcsonzottKonyv" />
  <xs:complexType name="ArrayOfKolcsonzottKonyv">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KolcsonzottKonyv" nillable="true" type="tns:KolcsonzottKonyv" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKolcsonzottKonyv" nillable="true" type="tns:ArrayOfKolcsonzottKonyv" />
</xs:schema>